{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content="Portifólio"/>
    <meta name="author" content="Gustavo Sandrin"/>
    <link rel="icon" type="image/png" href="{% static 'assets/img/favicon.jpg' %}"/>
    <link href="{% static 'assets/img' %}">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <script src="{% static 'js/scripts.js' %}"></script>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet"/>
    <script src="{% static 'js/scripts.js' %}"></script>

    <title>Gustavo Sandrin - Portifólio</title>
    <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
          type="text/css"/>


</head>
<body id="page-top">
<nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="#page-top">Gustavo Sandrin</a>
        <button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded" type="button"
                data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#portfolio">Minhas
                    habilidades</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#about">Sobre
                    mim</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded"
                                                     href="#contact">Contatos e projetos</a></li>
            </ul>
        </div>
    </div>
</nav>
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <img class="masthead-avatar mb-5" src="{% static 'assets/img/gustavo.jpeg' %}" alt="..."/>
        <h1 class="masthead-heading text-uppercase mb-0">Olá! Eu sou o Gustavo</h1>
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Masthead Subheading-->
        <p class="masthead-subheading font-weight-light mb-0">Web developer | Programador Python </p>
    </div>
</header>
<!-- Portfolio Section-->
<section class="page-section portfolio" id="portfolio">
    <div class="container">
        <!-- Portfolio Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Minhas habilidades</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Portfolio Grid Items-->
        <div class="row justify-content-center">
            <!-- Portfolio Item 1-->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto" data-bs-toggle="modal">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"></div>
                    </div>
                    <img class="img-fluid" src="{% static 'assets/img/portifolio/python.png' %}">
                </div>
            </div>
            <!-- Portfolio Item 2-->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal2">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"></div>
                    </div>
                    <img class="img-fluid" src="{% static 'assets/img/portifolio/django.png' %}" alt="..."/>
                </div>
            </div>
            <!-- Portfolio Item 3-->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal3">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"></div>
                    </div>
                    <img class="img-fluid" src="{% static 'assets/img/portifolio/git.png' %}" alt="..."/>
                </div>
            </div>
            <!-- Portfolio Item 4-->
            <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal4">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"></div>
                    </div>
                    <img class="img-fluid" src="{% static 'assets/img/portifolio/postgres.jpg' %}" alt="..."/>
                </div>
            </div>
            <!-- Portfolio Item 5-->
            <div class="col-md-6 col-lg-4 mb-5 mb-md-0">
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal5">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"></div>
                    </div>
                    <img class="img-fluid" src="{% static 'assets/img/portifolio/aws.png' %}" alt="..."/>
                </div>
            </div>
            <!-- Portfolio Item 6-->
            <div class="col-md-6 col-lg-4">
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal6">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"></div>
                    </div>
                    <img class="img-fluid" src="{% static 'assets/img/portifolio/docker.png' %}" alt="..."/>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Section-->
<section class="page-section bg-primary text-white mb-0" id="about">
    <div class="container">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-white">Sobre mim</h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <div class="row">
            <div class="col-lg-4 ms-auto"><p class="lead">Olá! Meu nome é Gustavo e estou iniciando uma careira como
                programador backend focado em Python e Django. Tenho 16 anos e sou de Sapiranga/RS. Descobri a progração
                há mais ou menos 1 ano, e desde então tenho me apaixonado por ela.
            </p></div>
            <div class="col-lg-4 me-auto"><p class="lead">para iniciar minha caminhada na programação escolhi a Python
                Pro. Com seus cursos aprendi sobre Django e suas ferramentas, também fiz alguns projetos como teste e
                agora estou desenvolvendo meus próprios projetos. Quer dar uma olhada no meu GitHub?!</p></div>
        </div>
        <!-- About Section Button-->
        <div class="text-center mt-4">
            <a class="btn btn-xl btn-outline-light" href="https://github.com/gustavossandrin">
                Meu Github!
            </a>
        </div>
    </div>
</section>
<!-- Contact Section-->
<section class="page-section" id="contact">
    <div class="container">
        <!-- Contact Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Meus contatos e projetos!</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Contact Section Form-->
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xl-7">

                <!-- Name input-->
                <div class="text-left mt-4">
                    <h4 class="text-left text-uppercase text-secondary mb-2">Emails:
                    </h4>
                    <h5 class="text-left text-uppercase text-secondary mb-2">gustavosandrindattein321@gmail.com</h5>
                </div>
                <br>
                <!-- Email address input-->
                <h4 class="text-left text-uppercase text-secondary mb-2">Meus projetos:
                </h4>
                <h6 class="text-left text-uppercase text-secondary mb-2"><a
                        href="https://github.com/gustavossandrin/curso-django-ga">- Clone da antiga plataforma da
                    PythonPro para o
                    exercício do django, banco de dados, TDD, clean code, dentre outros.</a>
                </h6>
                <h6 class="text-left text-uppercase text-secondary mb-2"><a
                        href="https://github.com/gustavossandrin/to-do-django">- To-do feito em django para estudo do
                    CRUD e de
                    como trabalhar com os models no banco de dados.</a>
                </h6>
                <h6 class="text-left text-uppercase text-secondary mb-2"><a
                        href="https://github.com/gustavossandrin/portifolio">- Portifólio: Site feito como carta de
                    apresentação, afim de estudar mais sobre o Django, HTML e práticar a escrita de testes.</a></h6>
            </div>

        </div>
    </div>
    </div>
</section>
<!-- Footer-->
<footer class="footer text-center">
    <div class="container">
        <div class="row">
            <!-- Footer Location-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">De onde sou?</h4>
                <p class="lead mb-0">
                    Sapiranga - Rs
                    <br/>
                    Brasil
                </p>
            </div>
            <!-- Footer Social Icons-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Eu pela Internet:</h4>
                <a class="btn btn-outline-light btn-social mx-1" href="https://www.instagram.com/gustavossandrin/"><i
                        class="fab fa-fw fa-instagram"></i></a>
                <a class="btn btn-outline-light btn-social mx-1"
                   href="https://www.linkedin.com/in/gustavo-sandrin-848044241/"><i
                        class="fab fa-fw fa-linkedin-in"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href="mailto:gustavosandrindattein321@gmail.com"><i
                        class="fab fa-fw fa-google"></i></a>
            </div>
            <!-- Footer About Text-->
            <div class="col-lg-4">
                <h4 class="text-uppercase mb-4">Sobre o site:</h4>
                <p class="lead mb-0">
                    Esse site foi feito em cima de um template do site:
                    <a href="http://startbootstrap.com">Start Bootstrap</a>
                    sobre a licença MIT.
                </p>
            </div>
        </div>
    </div>
</footer>
<!-- Copyright Section-->
<div class="copyright py-4 text-center text-white">
    <div class="container"><small>Gustavo Sandrin Dattein, {% now 'Y' %}. Todos direitos reservados.</small></div>
</div>
</body>
</html>